* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  font:
    14px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #111;
  min-width: 230px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

:focus {
  outline: 0;
}

.todoapp {
  background: #fff;
  margin: 168px auto 40px;
  max-width: 550px;
  position: relative;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo::-webkit-input-placeholder,
.edit::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.new-todo::placeholder,
.edit::placeholder {
  font-style: italic;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.todo-title {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.05;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: #b83f45;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.header {
  position: relative;
}

.todo-title-floating {
  position: absolute;
  top: -124px;
}

.header .todo-title {
  margin-bottom: 16px;
}

.todoapp .header .todo-title-floating {
  margin-bottom: 0;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
}

.toggle-all + label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 65px;
  font-size: 0;
  position: absolute;
  top: -65px;
  left: 0;
  cursor: pointer;
  z-index: 10;
}

.toggle-all + label:before {
  content: "❯";
  display: inline-block;
  font-size: 22px;
  color: #949494;
  padding: 10px 27px 10px 27px;
  transform: rotate(90deg);
}

.toggle-all:checked + label:before {
  color: #484848;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li,
.todo-item {
  position: relative;
  list-style: none;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child,
.todo-item:last-child {
  border-bottom: none;
}

.todo-list li.editing,
.todo-item.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit,
.todo-item.editing .edit {
  display: block;
  width: calc(100% - 43px);
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view,
.todo-item.editing .view {
  display: none;
}

.todo-list li .toggle,
.todo-item .toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

.todo-list li .toggle,
.todo-item .toggle {
  opacity: 0;
}

.todo-list li .toggle + label,
.todo-item .toggle + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + label,
.todo-item .toggle:checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
}

.todo-list li label,
.todo-item label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #484848;
}

.todo-list li.completed label,
.todo-item.completed label {
  color: #949494;
  text-decoration: line-through;
}

.todo-list li .destroy,
.todo-item .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #949494;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list li .destroy:hover,
.todo-list li .destroy:focus,
.todo-item .destroy:hover,
.todo-item .destroy:focus {
  color: #c18585;
}

.todo-list li .destroy:after,
.todo-item .destroy:after {
  content: "×";
  display: block;
  height: 100%;
  line-height: 1.1;
}

.todo-list li:hover .destroy,
.todo-item:hover .destroy {
  display: block;
}

.todo-list li .edit,
.todo-item .edit {
  display: none;
}

.todo-list li.editing:last-child,
.todo-item.editing:last-child {
  margin-bottom: -1px;
}

.todo-list li.loading {
  padding: 15px 15px 15px 60px;
  color: #949494;
  font-style: italic;
}

.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px 12px;
  padding: 10px 15px;
  min-height: 40px;
  color: #777;
  font-size: 14px;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 0;
}

.footer > * {
  position: relative;
  z-index: 1;
}

.todo-count {
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.filters {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li {
  display: inline-block;
}

.filters li a {
  display: block;
  color: inherit;
  margin: 0;
  padding: 3px 7px;
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
}

.filters li a:hover {
  border-color: #db7676;
}

.filters li a.selected {
  border-color: #ce4646;
}

.clear-completed,
html .clear-completed:active {
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  max-width: 550px;
  margin: 32px auto 0;
  padding: 0 12px 24px;
  color: #4d4d4d;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 430px) {
  .todoapp {
    margin: 116px 12px 24px;
  }

  .todoapp .todo-title-floating {
    top: -88px;
    font-size: 64px;
  }

  .footer {
    justify-content: center;
    padding-bottom: 12px;
  }
}
